
.ape {
    float:left;
}
.ape:hover {
    animation: shake 0.8s cubic-bezier(.36,.07,.19,.97) both infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  